{% load thumbnail %}
<!DOCTYPE html>
<html>
    <head>
        <title>FitNGo! | {% block title %} {% endblock %}</title>
        <meta charset="utf-8">
	<meta name='yandex-verification' content='443192a1e0323ae1' />
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="stylesheet" href="/static/css/colorbox.css"/>
        <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
        <script type="text/javascript" src="/static/js/jquery.colorbox-min.js"></script>
        <meta name="viewport" content="width=1100">
        {% block head %}
        {% endblock %}
    </head>
    
    <body>
        <div class="layout">
            <div class="popup__layout"></div>
            
            <div class="popup popup-sign">
                <span class="popup___close"></span>
                <div class="popup__title"> Перезвонить мне
                </div>
                <form action="" method='POST'>
                    <span class="back"> <input type="text" placeholder="Ваше имя" name="name" value='{% if form.name.value %}{{ form.name.value }}{% endif %}' {% if form.errors.name %} style='border: 1px solid red' {% endif %} />  </span>
                    <span class="back"> <input type="text" placeholder="Ваш телефон" name="phone" value='{% if form.phone.value %}{{ form.phone.value }}{% endif %}' {% if form.errors.name %} style='border: 1px solid red' {% endif %}/>  </span>
                    <span class="back"> <input type="text" placeholder="Ваш email" name="email" value='{% if form.email.value %}{{ form.email.value }}{% endif %}'/>  </span>
<!--                     <span class="back"> <input type="text" placeholder="Дата и время тренировки" name='datetime' value='{% if form.datetime.value %}{{ form.datetime.value }}{% endif %}'/>  </span> -->
<!--                     <span class="back"> <input type="text" placeholder="Номер карты" name="card" value='{% if form.card.value %}{{ form.card.value }}{% endif %}'/>  </span> -->
                    <span class="back form-btn btn-yellow"> <input type="submit" value="Перезвонить мне"/> </span>
                    <input type='hidden' name='action' value='signup'>
                    {% csrf_token %}
                </form>
            </div>
            
            {% if show_signup %}
                <script>
                    $('.popup__layout').fadeIn();
                    $(".popup-sign").fadeIn(500);
                </script>
            {% endif %}
                        
            <div class="popup popup-get">
                <span class="popup___close"></span>
                <div class="popup-get__title">
                <h5>Запишитесь на пробную тренировку и получите <span class="text_red">диагностику организма <br/>
                                    в подарок!</span></h5>
                </div>
                <form action="" method='POST'>
                    <span class="back"> <input type="text" placeholder="Ваше имя" name="name" value='{% if form.name.value %}{{ form.name.value }}{% endif %}' {% if form.errors.name %} style='border: 1px solid red' {% endif %}/>  </span>
                    <span class="back"> <input type="text" placeholder="Ваш телефон" name="phone" value='{% if form.phone.value %}{{ form.phone.value }}{% endif %}' {% if form.errors.name %} style='border: 1px solid red' {% endif %}/>  </span>
                    <span class="back"> <input type="text" placeholder="Ваш email" name="email" value='{% if form.email.value %}{{ form.email.value }}{% endif %}'/>  </span>
                    <span class="back"> <input type="text" placeholder="Дата и время тренировки" name='datetime' value='{% if form.datetime.value %}{{ form.datetime.value }}{% endif %}'/>  </span>
                    <span class="back form-btn btn-yellow"> <input type="submit" value="Получить"/> </span>
                    <input type='hidden' name='action' value='get'>
                    {% csrf_token %}
                </form>
            </div>
            
             {% if show_get %}
                <script>
                    $('.popup__layout').fadeIn();
                    $(".popup-get").fadeIn(500);
                </script>
            {% endif %}
            
            <div class="wrapper">
                <header>
                    <nav class="g-nav">
                        <ul>
                            {% for m in menu %}
                                <li><a href="{{ m.href }}">{{ m.title }}</a>
                                {% if m.submenu.all %}
                                    <ul>
                                        {% for s in m.submenu.all %}
                                            <li><a href="{{ s.href }}">{{ s.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="header__contacts">
                        <span class="header__contacts__phone">  +7(495) 969 88 69</span> 
                        <span class="back form-btn btn-yellow" style='width: 220px; margin-left: 20px'> <input value="Перезвонить мне"  style='width: 220px' id="sign"/> </span>
                        
                    </div>
                    <a class="homelink" href="/"></a>
                    
                </header>
                
                {% block wrapper %}
                {% endblock %}
                
                <footer>
                    <div class="footer__soc">
                        <div class="footer__soc__title">Будь в курсе спецпредложений:</div>
                        <div class="footer__soc__block">
                            <a target="_blank" class="fb" href="https://www.facebook.com/fitngo.ru"> </a>
                            <a target="_blank" class="mail" href="#"> </a>
                            <a target="_blank" class="tw" href="https://twitter.com/Fit_n_go"> </a>
                            <a target="_blank" class="skype" href="#"> </a>
                            <a target="_blank" class="yt" href="#"> </a>
                            <a target="_blank" class="odn" href="#"> </a>
                            <a target="_blank" class="vk" href="http://vk.com/fitngo"> </a>
                            <a target="_blank" class="icon-last" href="#"> </a>
                        </div>
                    </div>
                    <div class="footer__slider__wrap">
                        <div class="footer__part__title">Наши партнеры:</div>
                        <div class="footer__slider">
                            <div class="footer__slider__container">
                                {% for p in partners %}
                                    <div class="footer__slider__i">
                                        {% thumbnail p.logo "x50" as im %}
                                            <a href='{{ p.url }}' target='_blank'>
                                                <img src="{{ im.url }}" />
                                            </a>
                                        {% endthumbnail %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="footer__slider__next"></div>
                        <div class="footer__slider__prev"></div>
                        
                    </div>
                    <div class="footer__contacts">
                        +7(495) 969 88 69
                        <span>© 2013 «Fit-n-go!»</span>
                        <span style='margin-top: -3px; font-size: 0.5em'><a href='http://webgenesis.ru/' target='_blank' >Создание сайта</a></span>
                    </div>
                </footer>
            </div>
            
            <div class="layout__bottom"></div>
        </div>
    </body>
</html>
    
{% if not is_debug %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23183059 = new Ya.Metrika({id:23183059,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23183059" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}
