{% extends 'base.html' %}

{% load thumbnail %}

{% block content_wrapper %}
    <div class="page-blog">
        
        <div class="blog">

            <h5>Блог</h5>
            {% for b in blog %}
                <h6>{{ b.title }}</h6>
                <img src="/media/{{ b.image }}">
                {{ b.content|safe }}
                
                <div class="wedding-place__gallery gallery">
                    {% for p in b.photos.all %}
                        {% thumbnail p.image "x150" as im %}
                            <a class="gallery__item" href="/media/{{ p.image }}" title="">
                                <img src="{{ im.url }}" />
                            </a>
                        {% endthumbnail %}
                    {% endfor %}
                </div>
                
                <hr />
            {% empty %}
                <h6>В данной категории нет статей.</h6>
            {% endfor %}
            
            
            {% if need_pagination %}
                <div class="page-nav">
                    {% for p in page_range %}
                        <a {% if p == blog.number %} class='active' {% endif %} href="{{ get_request }}?page={{ p }}">{{ p }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            
        </div>
        
        <div class="blog__widget">
            
<!--             <div class="blog__widget__title">Календарь </div> -->
                
            <div class="widget"></div>
            
            <div class="tags">
<!--                 <div class="blog__widget__title">Теги </div> -->
                <ul>
                    {% for c in categories %}
                        <li><a href="/blog/{{ c.id }}/">{{ c }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        
    </div>
{% endblock %}
