{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Галерея{% endblock %}

{% block breadcrumbs %}
    <a href="#" class="active">Галерея</a>
{% endblock %}

{% block content %}
    <div class="gallery">
        {% for p in gallery %}
            {% thumbnail p.image "x150" as im %}
                <a class="gallery__item" href="/media/{{ p.image }}" title="">
                    <img src="{{ im.url }}" />
                </a>
            {% endthumbnail %}
        {% endfor %}
    </div>
{% endblock %}