.reviews-filter {
    clear: both;
    margin: 0 0 20px !important;    
}

.reviews-filter li{
    list-style: none;
    padding: 4px 9px;
    background: #EEE;
    cursor: pointer;
    clear: both;
    float: left;
    margin: 6px 0 !important;

}
.reviews-filter li.active{
    background: #6236f2;
    color: #fff;
    cursor: default;
}

.reviews-filter li a{
    color: #333;
}
.reviews-filter li.active a{
    color: #fff;
}

#filter-box {
}

.pagination {
    margin: 0 auto;
    clear: both;
    text-align: center;
}

.pagination .page-numbers{
    padding: 4px 9px;
    background: #EEE;
    cursor: pointer;
    color: #333;
    text-decoration: none !important;
}

.pagination .page-numbers.active{
    background: #6236f2;
    color: #fff;
    cursor: default;
}

.error-container input, .error-container textarea {border: 1px solid red !important}

.form-register input, .form-register textarea
{
    border-color: #ddd;
    width: 400px;
    line-height: 20px;
    height: 20px;
    background: #fff !important;
}

.form-register textarea{
    height: 100px;
}


ul.errorlist {
    padding: 0px;
    margin: 0px;
    margin-left: 0px !important;
}

ul.errorlist li {
    list-style: none;
    color: red;
    padding: 0px;
    margin: 0px;
}

ul.edu-video-container
{
    width: 600px;
    margin: 0px !important;
    padding: 0px !important;
    clear: both;
}

ul.edu-video-container li
{
    list-style: none;
    display: inline;
}

.large-button
{
    background: #6236f2;
    width: 60%;
    font-size: 1.3em;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.large-button a
{
    margin: 0px;
    padding: 0px;
    color: white !important;
    text-decoration: none !important;
}
