{% extends 'base.html' %}

{% block content %}
    {{ p.content|safe }}
<!--	<br />
	<p> Дата следующей конференции: <b>{{ CONFERENCE_DATE }}</b> </p>
    <form class="form" method='POST'>
        <fieldset>
            {% csrf_token %}
            <label {% if sform.errors.email %}class='error-container'{% endif %}>
                <span>E-mail</span>
                <input type='text' name='email' value=''>
            </label>
            <input type="hidden" name='action' value='conference' />
            <button type='submit'>Отправить запрос</button>
        </fieldset> 
    </form>-->
{% endblock %}


                            
