{% extends 'base.html' %}

{% block content %}
    {{ content|safe }}
{% endblock %}

{% block content_right %}
    <h2>Обратная связь</h2>
    <form class="form" method='POST'>
        <fieldset>
            {% if form_send %}
                <h3>Ваше сообщение отправлено.</h3>
            {% else %}
                
                {% csrf_token %}
                <label {% if form.errors.name %}class='error-container'{% endif %}>
                    <span>Имя</span>
                    {{ form.name }}
                </label>
                <label {% if form.errors.phone %}class='error-container'{% endif %}>
                    <span>Телефон</span>
                    {{ form.phone }}
                </label>
                <label {% if form.errors.email %}class='error-container'{% endif %}>
                    <span>E-mail</span>
                    {{ form.email }}
                </label>
                <label {% if form.errors.skype %}class='error-container'{% endif %}>
                    <span>Skype</span>
                    {{ form.skype }}
                </label>

                <label {% if form.errors.message %}class='error-container'{% endif %}>
                    <span>Сообщение</span>
                    {{ form.message }}
                </label>
                <input type="hidden" name='action' value='feedback'>
                <button type='submit'>Отправить</button>
            {% endif %}
        </fieldset>
    </form>
{% endblock %}