<footer>
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,moikrug,gplus"></div> 
    <p id="copy">
        <a href="http://vk.com/id193537167">http://vk.com/id193537167</a><br/>
        <a href="http://vk.com/club46633921">http://vk.com/club46633921</a><br/><br/>
        &copy; 2012&ndash;2013, Vspomnit-Vse.com. Все права защищены.
    </p>
    <form>
        <fieldset>
            <label>
                <span>Имя</span>
                <input name="name" />
            </label>
            <label>
                <span>Телефон</span>
                <input name="phone" />
            </label>
            <label>
                <span>E-mail</span>
                <input name="email" />
            </label>
            <label>
                <span>Skype</span>
                <input name="skype" />
            </label>
        </fieldset>
        <fieldset>
            <label>
                <span>Сообщение</span>
                <textarea name="message"></textarea>
            </label>
            <input name="fakeinput" type="hidden" />
            <button>Отправить</button>
        </fieldset>
    </form>
</footer>