<footer>
    <div style='float: right; width: 40%'>
        <a href="http://vk.com/id193537167">http://vk.com/id193537167</a><br/>
        <a href="http://vk.com/club46633921">http://vk.com/club46633921</a><br/><br/>
    </div>
    <p id="copy">
        <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
        <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,moikrug,gplus"></div> 
        <br /><br />
        <p style='color: #ddd'>&copy; 2012&ndash;2013, Vspomnit-Vse.com. Все права защищены.</p>
    </p>
</footer>