<footer>
    <div style='float: right; width: 40%'>
<!--        <a href="https://vk.com/marat.ulmasbaev">vk.com/marat.ulmasbaev</a><br/>
        <a href="https://vk.com/vspomnitvsecom">vk.com/vspomnitvsecom</a><br/>
        <a href="https://vk.com/blize_k_bogu">vk.com/blize_k_bogu</a><br/><br/>-->
    </div>
    <p id="copy">
        <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
        <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,moikrug,gplus"></div> 
        <br /><br />
        <p style='color: #ddd'>&copy; 2012&ndash;2016, Vspomnit-Vse.com. Все права защищены.</p>
    </p>
</footer>
