{% extends 'base.html' %}

{% block content %}
    <p style="text-align: center;"><strong>Не зная прошлого, вы не сможете узнать будущее, потому что ваше будущее будет детищем вашего прошлого, ваше будущее будет рождено из вашего прошлого.</strong></p>
    <div class="blocks">
        <a href="/obuchenie" title="Обучение" class="picture-block"><img src="/static/public/images/uslugi/obuchenie.jpg" alt="Обучение" /><!--<div class="title">Обучение</div>--></a>
        <a href="/regressii-v-proshlyie-zhizni" title="Регрессии в прошлые жизни" class="picture-block"><img src="/static/public/images/uslugi/regressii-v-proshlye-zhizni.jpg" alt="Регрессии в прошлые жизни" /><!--<div class="title">Регрессии в прошлые жизни</div>--></a>
        <a href="/sluzhenie" title="Служение" class="picture-block"><img src="/static/public/images/uslugi/sluzhenie.jpg" alt="Служение" /><!--<div class="title">Служение</div>--></a>        
        <a href="/isczelenie-slavyanskogo-duxovnogo-kresta" title="Исцеление славянского духовного креста" class="picture-block"><img src="/static/public/images/uslugi/Istcelenie-slavianskogo-duhovnogo-kresta.jpg" alt="Исцеление славянского духовного креста" /><!--<div class="title">Исцеление славянского духовного креста</div>--></a>
        <a href="/ochishhenie-dushi" title="Очищение души" class="picture-block"><img src="/static/public/images/uslugi/ochishchenie-dushi.jpg" alt="Очищение души" /><!--<div class="title">Очищение души</div>--></a>
        <a href="/snyatie-posledstvij-telegonii-i-abortov" title="Снятие последствий телегонии и абортов" class="picture-block"><img src="/static/public/images/uslugi/Sniatie-posledstvii-telegonii-i-abortov.jpg" alt="Снятие последствий телегонии и абортов" /><!--<div class="title">Снятие последствий телегонии и абортов</div>--></a>
        <a href="/kundalini-rejki" title="Кундалини Рейки" class="picture-block"><img src="/static/public/images/uslugi/kundalini-reiki.jpg" alt="Кундалини Рейки" /><!--<div class="title">Кундалини Рейки</div>--></a>
        <a href="/vozmozhnosti-razuma" title="Возможности разума" class="picture-block"><img src="/static/public/images/uslugi/vozmozhnosti-razuma.jpg" alt="Возможности разума" /><!--<div class="title">Возможности разума</div>--></a>
        <a href="/article/mentalnaya-shkola/" title="Ментальная школа" class="picture-block"><img src="/static/mental.jpg" alt="Ментальная школа" /></a>
        <a href="/conference/" title="Целительские сеансы" class="picture-block"><img src="/static/confer.jpg" alt="Целительские сеансы" /></a>
    </div>
{% endblock %}
