<html>
  <head>
    <title>Вспомнить всё. Марат Ульмасбаев.</title>
    <meta content="">
    <style>
        body {background: #000 url('/static/gradienta_3.jpg') repeat-x; height: 2170px; padding: 0; margin: 0; width: 100%}
        div.container {background: #000 url('/static/Vspomnit_vse_glavnaya.jpg') no-repeat; height: 2170px; padding: 0; margin: 0 auto; width: 800px; }
        .hidden {display: none}
    </style>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <div class='container'>
	<div style='padding-top: 2012px; padding-left: 290px'>
            <button id='xyi' style='border: none; background-color: transparent'>
                <div style='width: 200px; height: 56px;cursor: pointer; '>
                    <img src='/static/Vspomnit_vse_glavnaya11.jpg' class='hidden' style='margin: 0 auto; width: 200px; height: 56px' /></button>
                </div>
            </button>
        </div>    </div>
  </body>
  <script>
        window.scrollTo(0, document.body.scrollHeight);
        $('#xyi').hover(function () {
            $('#xyi img').removeClass('hidden');
        },
        function () {
            $('#xyi img').addClass('hidden');
        });
        $('#xyi').click(function () {document.location.href='/home/'});
    </script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23526010 = new Ya.Metrika({id:23526010,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23526010" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


</html>
