{% extends 'base.html' %}

{% block content %}            
    <div id="otzyv-container">
        {% for r in items %}
            <a href="/review/{{ r.slug }}/" class="otzyv">
                <h3>{{ r.name }}</h3>    
                {{ r.desc|safe }}
            </a>
        {% endfor %}
    </div>
    
    {% if need_pagination %}
        <div class="pagination">
            {% if items.has_previous %}
                <a class="page-numbers" href="{{ get_request }}?page={{ items.previous_page_number }}">&lt;</a>
            {% endif %}
            {% for p in page_range %}
                <a class="page-numbers {% if p == items.number %}active{% endif %}" href="{{ get_request }}?page={{ p }}">{{ p }}</a>
            {% endfor %}
            {% if items.has_next %}
                <a class="page-numbers" href="{{ get_request }}?page={{ items.next_page_number }}">&gt;</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block content_right %}
    <div id='filter-box'>
        <h2>Фильтр отзывов</h2>
        <ul class="reviews-filter">
            <li {% if reviews_all %}class="active"{% endif %}><a href='/reviews/'>Любые ({{ revews_count }})</a></li>
            {% for c in categories %}
                <li {% if c.slug in request_url %}class="active"{% endif %}><a href='/reviews/{{ c.slug }}/'>{{ c.name }} ({{ c.count }})</a></li>
            {% endfor %}
        </ul>
        
    </div>
    <div  style='clear: both; height: 450px'></div>
    
{% endblock %}
