<h2>Ближайшее мероприятие </h2>
<p>
Пятидневный тренинг с 26 - 30 ноября 2014г. в г.Москва!<br />
"1й круг целительство"<br />
Количество мест ограниченно. Допуск на мероприятие, после личной переписки и ответов на вопросы. <br />
<a href='https://vk.com/event78882834' target='_blank'>Страница ВКонтакте</a>
</p>

{% if reviews_category %}
    <h2>Отзывы {{ reviews_category.name_dat }}</h2>
{% else %}
    <h2>Отзывы </h2>
{% endif %}


{% for r in recent_reviews %}
    <a href="/review/{{ r.slug }}/" class="otzyv">
        <h3>{{ r.name }}</h3>    
        {{ r.desc|safe }}
    </a>
{% endfor %}
{% if reviews_category %}
    <a href='/reviews/{{ reviews_category.slug }}'>Все отзывы {{ reviews_category.name_dat }}&nbsp;&rarr;</a>
{% else %}
    <a href='/reviews/'>Все отзывы&nbsp;&rarr;</a>
{% endif %}


