<p><a href='http://www.youtube.com/subscription_center?add_user=VspomnitVseCOM'><img stc='/static/19-11-2014_14-44-16b.png'></a></p>
<h2>Ближайшее мероприятие </h2>
<p>
Ближайшее мероприятие
20 - 22 февраля
подробности в разделе <a href='/obuchenie' target='_blank'>Обучение</a>
</p>

<a href='http://www.youtube.com/subscription_center?add_user=VspomnitVseCOM' target='_blank'><img src='/static/19-11-2014_14-44-16b.png' style='width: 100%;' /></a>

{% if reviews_category %}
    <h2>Отзывы {{ reviews_category.name_dat }}</h2>
{% else %}
    <h2>Отзывы </h2>
{% endif %}


{% for r in recent_reviews %}
    <a href="/review/{{ r.slug }}/" class="otzyv">
        <h3>{{ r.name }}</h3>    
        {{ r.desc|safe }}
    </a>
{% endfor %}
{% if reviews_category %}
    <a href='/reviews/{{ reviews_category.slug }}'>Все отзывы {{ reviews_category.name_dat }}&nbsp;&rarr;</a>
{% else %}
    <a href='/reviews/'>Все отзывы&nbsp;&rarr;</a>
{% endif %}


