{% extends 'base.html' %}

{% block content %}
    <div class="blocks">
        <a href="/obuchenie" title="Обучение" class="picture-block"><img src="/static/public/images/uslugi/obuchenie.jpg" alt="Обучение" /><!--<div class="title">Обучение</div>--></a>
        <a href="/regressii-v-proshlyie-zhizni" title="Регрессии в прошлые жизни" class="picture-block"><img src="/static/public/images/uslugi/regressii-v-proshlye-zhizni.jpg" alt="Регрессии в прошлые жизни" /><!--<div class="title">Регрессии в прошлые жизни</div>--></a>
        <a href="/sluzhenie" title="Служение" class="picture-block"><img src="/static/public/images/uslugi/sluzhenie.jpg" alt="Служение" /><!--<div class="title">Служение</div>--></a>        
        <a href="/isczelenie-slavyanskogo-duxovnogo-kresta" title="Исцеление славянского духовного креста" class="picture-block"><img src="/static/public/images/uslugi/Istcelenie-slavianskogo-duhovnogo-kresta.jpg" alt="Исцеление славянского духовного креста" /><!--<div class="title">Исцеление славянского духовного креста</div>--></a>
        <a href="/ochishhenie-dushi" title="Очищение души" class="picture-block"><img src="/static/public/images/uslugi/ochishchenie-dushi.jpg" alt="Очищение души" /><!--<div class="title">Очищение души</div>--></a>
        <a href="/snyatie-posledstvij-telegonii-i-abortov" title="Снятие последствий телегонии и абортов" class="picture-block"><img src="/static/public/images/uslugi/Sniatie-posledstvii-telegonii-i-abortov.jpg" alt="Снятие последствий телегонии и абортов" /><!--<div class="title">Снятие последствий телегонии и абортов</div>--></a>
    </div>
{% endblock %}
